body{
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagen{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1{
    text-align: center;
}

img{
    width: 600px;
    height: auto;
    padding: 0;
  
 
    
}

#stickers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    gap:50px;
    box-sizing: border-box;
    
}

.stick{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
   
}

.stick img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.stick input{
    width: 40px;
}

#respuesta{
    text-align: center;
    margin-top: 100px;
    font-size: 2rem;  
}

.finalstickers{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contrasena{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    gap: 20px;
}

.enlaces{
    margin-top: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}